doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="theme-color" content=titlebar_color)
        title= page_title

    body
        div(id="root")
    script(src="src/bundle.js")