
/* Fixes the position problem with modals (Makes them centered) */
.dimmed.dimmable > .ui.modals.dimmer.visible {
  display: flex !important;
}
#linksSortBar.ui.sidebar {
    display: flex !important;
    height: auto !important;
}


#badgeText {
    font-weight: 400 !important;
}

.profileButtonText {
    font-weight: 100 !important;
}


.sharePopup {
    width: 270px;
}

.linkListContainer {
    margin-top: 77px;
    margin-bottom: 60px; 
}

.fullContentDimmer {
    position: absolute;
    margin-top: 77px;
    margin-bottom: 60px; 
    height: 100vh;
    width: 100vw;
}

.labelIcon {
    width: 12px;
}

#cardInfoLabels {
    position: relative;
    top: 2px;
}

.fullSizeSegment {
    position: relative;
    top: 0;
    left: 0;
    height: 000vh;
    width: 100vw;
}

.popupHeaderTextWithDivider {
    display: block !important;
    padding-bottom: 3px;
    margin-top: -5px;
}

#publicPrivacyIcon {
    position: relative; 
    bottom: 5px;
    right: 5px; 
}

#privatePrivacyIcon {
    position: relative; 
    padding-left: 10px; 
    bottom: 5px; 
    left: 1px;
}

.cornerPrivacyLabel {
    /* 
    position: relative !important; 
    left: 245px;
    bottom: 10px; 
    */
}

.linkInfoCard {
    cursor: default !important;
    marginRight: 10px; 
    marginBottom: 10px;
}

.linkInfoCardLink:hover {
    color: #0E6EB8 !important;
    cursor: pointer !important
}

#editModePrivacyToggle {
    position: relative;
    top: 7px;
}

#createUserUsernameInput {

}

#newLinkDescInput {
    resize: none;
}

#createAccountLink {
    display: block !important;
    position: relative;
    top: 3px;
    text-align: center;
}

#createAccountButton {
    position: relative;
}

#createAccountCancelButton {
    position: relative;
    top: 3px;
}

#createAccountDivider {
    position: relative !important;
}

#logInDivider {
    position: relative !important;
    top: 8px;
}

#createAccountFormOrLabel {
    display: block !important;
    position: relative;
    height: 10px !important;
    bottom: 16px;
    left: 73px;
    visibility: hidden;
}
#createAccountOrLabel {
    position: relative;
    bottom: 8px;
    left: 73px;
}
#createAccountOrLabel:hover {
    pointer: default !important;
}

.infoCard.itemInfoDivider {
    position: relative;
    top: 3px;
    bottom: 3px;
}

.tagsPopupTriggerLabel {
    cursor: pointer !important;
}

.tagLabel {
    cursor: pointer !important;
}

.clickableLabel {
    cursor: pointer !important;
}

.copyToClipboardLabel {
    width: 40px;
}

#linksSortBar {
    position: fixed;
    left: 6px;
    top: calc(100vh - 158px);
    width: 317px;
}

.linksSortMenu {
}
